---
import MainLayout from "@layouts/MainLayout.astro"
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const collection = await getCollection("posts");
  const tagSet = new Set<string>();

  collection.forEach((entry) => {
    entry.data.tags?.forEach((tag) => tagSet.add(tag));
  });

  return Array.from(tagSet).map((tag) => ({
    params: { tag: tag },
  }));
}

const { tag } = Astro.params;
const collection = await getCollection("posts");
const entries = collection.filter((entry) => entry.data.tags?.includes(tag))
---

<MainLayout title="/home/ktkm" prompt={"[~/tags]$ cat " + tag}>
  <ul>
    {entries.map((entry) => <li><a href=`/${entry.slug}`}>{entry.slug}</a></li>)}
  </ul>
</MainLayout>
