---
import MainLayout from "@layouts/MainLayout.astro"
import { getCollection } from "astro:content";

const collection = await getCollection("posts");
const tagSet = new Set<string>();

collection.forEach((entry) => {
  entry.data.tags?.forEach((tag) => tagSet.add(tag));
});
---

<MainLayout title="/home/ktkm" prompt="[~/tags]$ ls">
  <ul>
    {Array.from(tagSet).map((tag) => <li><a href=`/tags/${tag}`>{tag}</a></li>)}
  </ul>
</MainLayout>
