---
import MainLayout from "@layouts/MainLayout.astro";
import TagList from "@components/TagList.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const collection = await getCollection("posts");
  return collection.map((entry) => ({
    params: { post: entry.slug },
  }))
}

const { post } = Astro.params;
const entry = await getEntry("posts", post)
const { Content } = await entry.render();
---

<style>
  p.date {
    font-style: italic;
  }
</style>

<MainLayout title="/home/ktkm" prompt={"[~/blog]$ cat " + entry.data.title}>
  <small class="date">
    {entry.data.date.toLocaleString("en-US", { year: "numeric", month: "long", day: "numeric" })}
  </small>
  <h1>{entry.data.title}</h1>
  <Content />
  {entry.data.tags && <TagList tags={entry.data.tags} />}
</MainLayout>
