---
import MainLayout from "@layouts/MainLayout.astro"
---

<MainLayout title="/home/ktkm" prompt="[~/blog] cat about">
  <h1>Contact</h1>
  <ul>
    <li>kitaekim27 at gmail dot com</li>
    <li><a href=https://codeberg.org/kitaekim27>Codeberg</a></li>
    <li><a href=https://gitlab.com/kitaekim27>GitLab</a></li>
  </ul>
</MainLayout>
