---
import MainLayout from "@layouts/MainLayout.astro"
import PostCard from "@components/PostCard.astro"
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }
</style>

<MainLayout title="/home/ktkm" prompt="[~/blog]$ ls">
  <ul>
    {posts.sort((a, b) => {
      if (a.data.date === b.data.date) {
        return 0;
      } else if (a.data.date < b.data.date) {
        return -1;
      } else {
        return 1;
      }
    }).map((post) => <li><PostCard {post} /></li>)}
  </ul>
</MainLayout>
