---
import TagList from "@components/TagList.astro"
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props as Props;
---

<style>
  .card {
    margin: 0 auto 2.5rem auto;
  }
</style>

<div class="card">
  <h2 class="title">
    <a href={new URL(post.slug, Astro.url)}>
      {post.data.title}
    </a>
  </h2>
  {post.data.summary && <p>{post.data.summary}</p>}
  {post.data.tags && <TagList tags={post.data.tags} />}
</div>
