---
interface Props {
  tags: string[];
};

const { tags } = Astro.props as Props;
---

<style>
  ul {
    font-style: italic;
    padding: 0;
  }

  ul li {
    display: inline-block;
    padding: 0 1ch 0 0;
  }
</style>

<ul>
  {tags.map(tag => <li><a href=`/tags/${tag}`>#{tag}</a></li>)}
</ul>
