---
import { ViewTransitions } from "astro:transitions";
const { title, prompt } = Astro.props
---

<style is:global>
  :root {
    --font-family: monospace;
    --color-black: #000;
    --color-blue: #0000DE;
    --color-green: #00DE00;
    --color-darker-green: #080;
    --color-deep-green: #040;
    --color-red: #DE0000;
  }

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: var(--color-red);
  }

  blockquote {
    font-style: italic;
  }
</style>

<style>
  @keyframes blink {
    0% {
      opacity: 0;
    }
  }

  body {
    background: var(--color-black);
    color: var(--color-green);
    font-family: var(--font-family);
    margin: 64px auto;
    max-width: 100ch;
  }

  header h1 {
    font-size: 1rem;
  }

  header p.cursor {
    animation: blink 1s steps(2) infinite;
    display: inline;
  }

  header nav {
    font-size: 1rem;
  }

  header nav ul {
    padding: 0;
  }

  header nav ul li {
    display: inline-block;
    padding: 0 1ch 0 0;
  }

  main {
    font-size: 1rem;
  }
</style>

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="utf-8">
    <meta name="generator" content={Astro.generator}>
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">blog</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/tags">tags</a></li>
        </ul>
      </nav>
      <h1>{prompt}<p class="cursor">&#9608</p></h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
